* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: rgb(2, 134, 241);
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 12px;
    display: flex;
}

h1 {
    font-size: 2.1vw;
    margin: 0 auto;
}

section {
    background-image: url(../assets/people.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 30px;
}

.info {
    padding: 10px;
    max-width: 230px;
    background-color: #FFFFFFBB;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

select {
    -webkit-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}

input[type="submit"] {
    color: white;
    background-color: rgb(2, 134, 241);
    font-weight: bold;
}

input[type="submit"]:hover {
    color: rgb(2, 134, 241);
    background-color: white;
}

form {
    text-align: justify;
    display: block;
    max-width: 230px;
}

footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.description {
    display: inline-block;
    color: white;
    margin-left: 40px;
    text-align: left;
    max-width: 40%;
}

.description p,
.description h2 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}

img {
    width: 160px;
}

@media screen and (max-width:400px) {
    section {
        background-image: url(../assets/people.jpg);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        padding: 30px;
    }
    h1 {
        font-size: 5vw;
        margin: 0 auto;
    }
    .info {
        padding: 15px;
        max-width: 300px;
        background-color: #FFFFFFBB;
        float: right;
    }
    h2 {
        font-size: 16px;
    }
    .mb {
        margin-bottom: 20px;
    }
    input,
    select {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        margin-bottom: 10px;
    }
    .description {
        max-width: 90%;
        display: inline-block;
        color: white;
        margin-left: 40px;
        text-align: left;
    }
    .description p,
    .description h2 {
        margin-bottom: 20px;
    }
    .description h3 {
        margin-top: 20px;
        font-size: 24px;
    }
    img {
        width: 60%;
    }
}